<div class="row justify-content-center">
    <div id="blogs" class="col-9">
        <div class="talk-bubble blog-border tri-right round btm-left-in" *ngFor="let blog of blogs$ | async; index as i">
            <div class="blog-content">
                <div id="overview" class="row">
                    <div id="thumbnail" class="col-6">
                        <img [src]="blog.img">
                    </div>
                    <div class="col-6 vertical-middle">
                        <div id="title">
                            <h4>{{blog.title}}</h4>
                        </div>
                        <div id="excerpt">
                            <p>{{blog.excerpt}}</p>
                        </div>
                    </div>
                </div>
                <div id="passage">
                    <p>{{blog.content}}</p>
                </div>
                <div id="meta-data" class="row">
                    <div class="col tags">
                        <div class="tag" *ngFor="let tag of blog.tags; index as i">
                            <p>{{tag}}</p>
                        </div>
                    </div>
                    <div class="col-auto author">
                        <p>Author: {{blog.author}}</p>
                    </div>
                    <div class="col-auto date">
                        <p>{{blog.date.toDate() | date: 'dd MMM YYYY' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="filters" class="col-3">

    </div>
</div>