@import '../../assets/variables.scss';

.talk-bubble {
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: $textLight;
    opacity: .8;
}

.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    
}

.blog-border{
    border: 3px solid $secondary;
}

#blogs {
    text-align: center;

    .new-post {
        width: 80%;
        background-color: $tertiary;
        border-radius: 15px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .edit {
        position: absolute;
        right: 10px;
        margin-top: -15px;
        color: $textLight;
        background-color: $secondary;
        padding: 7px;
        border-radius: 20px;
        font-size: 15px;
        height: 34px;
    }
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 35px; 
    right: auto;
    top: auto;
    bottom: -27px;
    border: 13px solid;
    border-color: $secondary transparent transparent $secondary;
}
.tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: $textLight transparent transparent $textLight
}

/********* INSIDE THE BUBBLE ********/
.blog-content{
    text-align: center;
    padding: 5px;

    #overview {
        padding: 10px 0;

        #thumbnail {
            img {
                max-height: 250px;
                object-fit: contain;
                display: block;
                width: 100%;

                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #content {
        padding-top: 10px;
    }

    #meta-data{

        .tags{
            text-align: left;

            .tag {
                display: inline-block;
                padding: 1px 10px;
                border-radius: 10px;
                background-color: $primary;
                opacity: .85;
                margin: 5px;

                p {
                    color: $textLight;
                    margin: 0;
                    display: inline-block;
                }
            } 
        }

        .author,.date{
            opacity: .7;
            text-align: right;
        }
    }

    .row{
        margin: 0;
    }
}

/*********** FILTER STYLES **********/
#filters {
    .filter-container {
        padding: 10px;
        background-color: #d5e7ec;
        border-radius: 10px;
        position: fixed;
        border: 3px solid $secondary;
        padding-right: 20px;
        margin-right: -10px;

        width: 200px;
        right: 0;
    }
    .hidden input {
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        border: 0;
    }
    .form-group{
        max-width: 100%;
    }
    .tags {
        padding: 10px 0; 
    }
    .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
    }
    .custom-day.focused {
        background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
        background-color: rgb(2, 117, 216);
        color: white;
    }
    .custom-day.faded {
        background-color: rgba(2, 117, 216, 0.5);
    }
    .submit-filter {
        margin-top: 15px;
    }
    .calendar{
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (max-width: 1500px) and (min-width: 992px) {
    #blogs {
        margin-right: 200px;
    }
}

.vertical-middle {
    margin-top: auto;
    margin-bottom: auto;
}