@import '../assets/variables.scss';

/********  HEADER STYLES  **********/
.header {
    background-color: $primary;
    padding: 10px;
    margin: 0;
}

.title {
    text-align: center;
    color: $textLight;
}
.title:hover {
    text-decoration: none;
}

.social-icons {
    margin-right: 15px;
    
    .row{
        height: 100%;
    }

    .social-icon{
        color: $textLight;  
        padding: 0 10px 0 10px 
    }
}

/*******  MAIN CONTENT ******/
#content {
    padding-top: 25px;
}