@import '../assets/variables.scss';

/********  HEADER STYLES  **********/
.header {
    background-color: $primary;
    padding: 10px;
    margin: 0;
    flex: 0 1 auto;
}

.title {
    text-align: center;
    color: $textLight;
}
.title:hover {
    text-decoration: none;
}

.social-icons {
    margin-right: 15px;
    
    .row{
        height: 100%;
    }

    .social-icon{
        color: $textLight;  
        padding: 0 10px 0 10px 
    }
}

#page-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#content {
    padding-top: 25px;
    flex: 1 1 auto;
}

#footer {
    background-color: $secondary;
    margin-top: 50px;
    flex: 0 1 100px;
    width: 100%;
    min-height: 100px;
}