<div id="page-container">
  <nav class="header row">
    <a class=" title col-12 col-sm-auto" [routerLink]="['']">
      <h3>Society of Software Developers</h3>
    </a>
    <div class="col-sm"><button class="btn dark-button login-button" (click)="logOut();" role="button" [hidden]='!isAdmin'>Sign Out</button></div>
    <div class="social-icons col-12 col-sm-auto">
      <div class="row justify-content-center align-items-center">
        <a href="{{discordLink}}" target="_blank" class="social-icon">
          <fa-icon [icon]="['fab', 'discord']" size='lg'></fa-icon>
        </a>
        <a href="{{facebookLink}}" target="_blank" class="social-icon">
          <fa-icon [icon]="['fab', 'facebook']" size='lg'></fa-icon>
        </a>
        <a href="{{gitHubLink}}" target="_blank" class="social-icon">
          <fa-icon [icon]="['fab', 'github']" size='lg'></fa-icon>
        </a>
      </div>
    </div>
  </nav>
  <div id="content" class="container">
    <!--Router loads component based on url here-->
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
      
  </div>
</div>