@import '../../assets/variables.scss';


#editor-container {
    padding: 15px;
    background-color: #ffffff3b;
    border-radius: 25px;
}

.blog-content {
    text-align: left !important;

    .tag-label {
        padding-right: 10px;
    }

    .submit-row {
        margin-top: 10px !important;
    }
}