/* You can add global styles to this file, and also import other style files */
@import 'assets/variables.scss';

html body { 
    background-color: $background;
	font-family: 'Montserrat', sans-serif;
}

.dark-button {
    color: $textLight !important;
    background-color: $secondary !important;
}