@import "../../assets/variables.scss";

#intro {
    background-image: url('/../../assets/intro-background.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 8px;
    padding: 20px;

    h1, h2, h3, h4, p {
        color: $textLight;
        text-align: center;
    }
}

#recentBlogs {
    margin-top: 25px;
    padding: 20px 5px;
    border-radius: 15px;
    background-color: #eee;

    .blog-intro, .blogs {
        margin-bottom: 15px;
    }

    .blog-intro {
        border-bottom: 1px $secondary solid;

        h2 {
            width: 100%;
            text-align: center;
        }
    }

    .blogs{
        margin-left: 0;
        margin-right: 0;

        .post {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .thumbnail {
                margin-bottom: 1rem;
    
                img {
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
        
                    object-fit: contain;
        
                    padding: 0 25px;
                    max-width: 100%;
                    height: 150px;
                }
            }
    
            .title, .excerpt {
                text-align: center;
            }
        }
    }
}

#upcoming-events {
    margin-top: 25px;
    height: 600px;

    .calendar, .list {
        iframe {
            height: 100%;
            width: 100%;
        }
    }

    .list {
        margin: 25px 0;
    }
}

.meetings-text {
    margin-top: 24px;
    font-size: 1.5rem;
}