<div id="intro" class="row justify-content-center">
    <div class="col col-10">
        <h2>Software Development and Design</h2>
        <h4>Spring 2021 meetings</h4>
        <p>Tuesdays, 6:15pm over Zoom</p>
    </div>
</div>

<div id="recentBlogs">
    <div class="blog-intro">
        <h2>Here's what we're up to</h2>
    </div>
    <div class="row justify-content-center">
        <div class="post col-11 col-md-4">
            <div class="thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
            </div>
            <h4 class="title">Angular Workshop</h4>
            <p class="excerpt"></p>
        </div>
        <div class="post col-11 col-md-4">
            <div class="thumbnail">
                <img src="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics/website-screenshot-styled.png">
            </div>
            <h4 class="title">Test</h4>
            <p class="excerpt">djfbsdvjbsdjvbf</p>
        </div>
        <div class="post col-11 col-md-4">
            <div class="thumbnail">
                <img src="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics/website-screenshot-styled.png">
            </div>
            <h4 class="title">Test</h4>
            <p class="excerpt">djfbsdvjbsdjvbf</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <button class="btn view-all-posts" [routerLink]="['/articles']" role="button">View All</button>
    </div>
</div>